body {
    background-color: #3ebea2;
}

legend {
    background-color: #3ebea2;
}

#logo {
padding-bottom: 20px;
}

#about-popup {
    background-color: #3ebea2;
}


.qrequired {
    color: #000000;
}
